USE [master]
GO
/****** Object:  Database [HousingProjectUpdated]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE DATABASE [HousingProjectUpdated]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HousingProjectUpdated', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HousingProjectUpdated.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HousingProjectUpdated_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HousingProjectUpdated_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HousingProjectUpdated].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HousingProjectUpdated]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[CurrentlyLivingIn] [nvarchar](max) NULL,
	[MaritalStatus] [nvarchar](max) NULL,
	[AadharCard] [nvarchar](max) NULL,
	[pincode] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[LeadAssigned] [nvarchar](max) NULL,
	[UserType] [int] NOT NULL,
	[UserRole] [int] NOT NULL,
	[LeadCreated] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer_Detail]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer_Detail](
	[BuyerId] [int] IDENTITY(1,1) NOT NULL,
	[BuyerName] [nvarchar](max) NULL,
	[BuyerMiddleName] [nvarchar](max) NULL,
	[BuyerLastName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[MaritalStatus] [nvarchar](max) NULL,
	[AadharCard] [nvarchar](max) NULL,
	[PanCard] [nvarchar](max) NULL,
	[GrossAnnualIncome] [nvarchar](max) NULL,
	[GrossMonthlyIncome] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[AlreadyLoan] [bit] NULL,
	[ManagerAssigned] [nvarchar](128) NULL,
	[currenStatus] [nvarchar](max) NULL,
	[currentlyLivingIn] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[dob] [nvarchar](max) NULL,
	[FatherFirstName] [nvarchar](max) NULL,
	[FatherMiddleName] [nvarchar](max) NULL,
	[FatherLastName] [nvarchar](max) NULL,
	[MotherFirstName] [nvarchar](max) NULL,
	[MotherMiddleName] [nvarchar](max) NULL,
	[MotherLastName] [nvarchar](max) NULL,
	[PersonalComments] [nvarchar](max) NULL,
	[Ownership] [nvarchar](max) NULL,
	[LivingSince] [nvarchar](max) NULL,
	[LivingInCitySince] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[City] [int] NULL,
	[State] [int] NULL,
	[pincode] [nvarchar](max) NULL,
	[EmploymentStatus] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[SalaryCreditType] [nvarchar](max) NULL,
	[JoiningYearandMonth] [nvarchar](max) NULL,
	[MonthlySalary] [nvarchar](max) NULL,
	[ConstitutionOfCompany] [nvarchar](max) NULL,
	[officeAddressLine] [nvarchar](max) NULL,
	[officeAddressLine2] [nvarchar](max) NULL,
	[OfficeCity] [int] NULL,
	[OfficeState] [int] NULL,
	[Officepincode] [nvarchar](max) NULL,
	[LoanAmount] [nvarchar](max) NULL,
	[LeadIncomingFrom] [nvarchar](max) NULL,
	[LeadCreatedBy] [nvarchar](max) NULL,
	[IsAlreadyCustomer] [bit] NOT NULL,
	[LeadStatusId] [int] NULL,
	[IsConverted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_dbo.Buyer_Detail] PRIMARY KEY CLUSTERED 
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyerRelations]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyerRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [nvarchar](128) NULL,
	[BuyerId] [int] NOT NULL,
	[MemberId] [nvarchar](128) NULL,
	[AssistantManagerId] [nvarchar](128) NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.BuyerRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerContacts]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[Customer_CustomerId] [int] NULL,
	[BuyerId] [int] NOT NULL,
	[ContactMobile] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomerContacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[MobileNo] [nvarchar](max) NULL,
	[AadharCard] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[PanCard] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BuyerId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerToLeadRelations]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerToLeadRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuyerId] [int] NOT NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[AadharCard] [nvarchar](max) NULL,
	[PanCard] [nvarchar](max) NULL,
	[WillGetPayout] [bit] NOT NULL,
	[BuyerName] [nvarchar](max) NULL,
	[AssignedManager] [nvarchar](128) NULL,
	[AssignedAssistantManager] [nvarchar](128) NULL,
	[AssignedTeamMember] [nvarchar](128) NULL,
	[LeadCreatedOn] [datetime] NOT NULL,
	[LeadStatus] [nvarchar](max) NULL,
	[LeadCreatedBy] [nvarchar](max) NULL,
	[LeadVerifiedBy] [nvarchar](max) NULL,
	[DealerDetails_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.DealerToLeadRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerToManagerRelations]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerToManagerRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DealerId] [nvarchar](128) NULL,
	[ManagerId] [nvarchar](128) NULL,
	[BuyerId] [int] NULL,
 CONSTRAINT [PK_dbo.DealerToManagerRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentUploadeds]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentUploadeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuyerId] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DocumentUploadeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadNotes]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[BuyerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LeadNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadStatus]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LeadStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListerDocumentsUploadeds]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListerDocumentsUploadeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListerId] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[UploadedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_dbo.ListerDocumentsUploadeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListerNotes]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListerNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[ListerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ListerNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListerStatus]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListerStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ListerStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opportunities]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opportunities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuyerId] [int] NOT NULL,
	[OpportunityName] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[OpportunityStatus] [int] NULL,
 CONSTRAINT [PK_dbo.Opportunities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpportunityStatus]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpportunityStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OpportunityStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyListers]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyListers](
	[ListerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[ListerStatus] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[IsConverted] [bit] NULL,
	[DoB] [nvarchar](max) NULL,
	[FatherFirstName] [nvarchar](max) NULL,
	[FatherLastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PropertyListers] PRIMARY KEY CLUSTERED 
(
	[ListerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectedLeads]    Script Date: 1/27/2021 6:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectedLeads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuyerId] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[RejectedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_dbo.RejectedLeads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buyer_Detail] ON 

SET IDENTITY_INSERT [dbo].[Buyer_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[BuyerRelations] ON 

INSERT [dbo].[BuyerRelations] ([Id], [ManagerId], [BuyerId], [MemberId], [AssistantManagerId], [UpdatedOn]) VALUES (10, NULL, 12, NULL, NULL, CAST(N'2021-01-12T16:41:54.000' AS DateTime))
INSERT [dbo].[BuyerRelations] ([Id], [ManagerId], [BuyerId], [MemberId], [AssistantManagerId], [UpdatedOn]) VALUES (11, NULL, 13, NULL, NULL, CAST(N'2021-01-13T14:04:57.960' AS DateTime))
INSERT [dbo].[BuyerRelations] ([Id], [ManagerId], [BuyerId], [MemberId], [AssistantManagerId], [UpdatedOn]) VALUES (12, NULL, 14, NULL, NULL, CAST(N'2021-01-17T09:11:18.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[BuyerRelations] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerContacts] ON 

INSERT [dbo].[CustomerContacts] ([Id], [CreatedOn], [ModifiedOn], [Customer_CustomerId], [BuyerId], [ContactMobile], [ContactName]) VALUES (7, CAST(N'2021-01-12T16:54:51.230' AS DateTime), CAST(N'2021-01-12T16:54:51.230' AS DateTime), NULL, 12, NULL, N'Sushma')
INSERT [dbo].[CustomerContacts] ([Id], [CreatedOn], [ModifiedOn], [Customer_CustomerId], [BuyerId], [ContactMobile], [ContactName]) VALUES (8, CAST(N'2021-01-12T16:57:00.833' AS DateTime), CAST(N'2021-01-12T16:57:00.833' AS DateTime), NULL, 12, N'7503932118', N'Ruchika')
INSERT [dbo].[CustomerContacts] ([Id], [CreatedOn], [ModifiedOn], [Customer_CustomerId], [BuyerId], [ContactMobile], [ContactName]) VALUES (9, CAST(N'2021-01-12T17:12:35.640' AS DateTime), CAST(N'2021-01-12T17:12:35.640' AS DateTime), NULL, 12, N'750392116', N'Sarita')
SET IDENTITY_INSERT [dbo].[CustomerContacts] OFF
GO
SET IDENTITY_INSERT [dbo].[DealerToLeadRelations] ON 

INSERT [dbo].[DealerToLeadRelations] ([Id], [BuyerId], [PhoneNo], [AadharCard], [PanCard], [WillGetPayout], [BuyerName], [AssignedManager], [AssignedAssistantManager], [AssignedTeamMember], [LeadCreatedOn], [LeadStatus], [LeadCreatedBy], [LeadVerifiedBy], [DealerDetails_Id]) VALUES (16, 12, N'8130946119', NULL, NULL, 1, N'Roopak', NULL, NULL, NULL, CAST(N'2021-01-12T16:41:54.000' AS DateTime), NULL, N'b70e577f-fd80-4f49-9ee2-073c93a5541c', NULL, NULL)
INSERT [dbo].[DealerToLeadRelations] ([Id], [BuyerId], [PhoneNo], [AadharCard], [PanCard], [WillGetPayout], [BuyerName], [AssignedManager], [AssignedAssistantManager], [AssignedTeamMember], [LeadCreatedOn], [LeadStatus], [LeadCreatedBy], [LeadVerifiedBy], [DealerDetails_Id]) VALUES (17, 13, N'8882444812', NULL, NULL, 1, N'Sarita', NULL, NULL, NULL, CAST(N'2021-01-13T14:04:57.960' AS DateTime), NULL, N'b70e577f-fd80-4f49-9ee2-073c93a5541c', NULL, NULL)
INSERT [dbo].[DealerToLeadRelations] ([Id], [BuyerId], [PhoneNo], [AadharCard], [PanCard], [WillGetPayout], [BuyerName], [AssignedManager], [AssignedAssistantManager], [AssignedTeamMember], [LeadCreatedOn], [LeadStatus], [LeadCreatedBy], [LeadVerifiedBy], [DealerDetails_Id]) VALUES (18, 14, N'750392678', NULL, NULL, 1, N'Radheshyam', NULL, NULL, NULL, CAST(N'2021-01-17T09:11:18.890' AS DateTime), NULL, N'b70e577f-fd80-4f49-9ee2-073c93a5541c', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DealerToLeadRelations] OFF
GO
SET IDENTITY_INSERT [dbo].[DealerToManagerRelations] ON 

INSERT [dbo].[DealerToManagerRelations] ([Id], [DealerId], [ManagerId], [BuyerId]) VALUES (2, N'b70e577f-fd80-4f49-9ee2-073c93a5541c', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DealerToManagerRelations] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentUploadeds] ON 

INSERT [dbo].[DocumentUploadeds] ([Id], [BuyerId], [FileName]) VALUES (156, 12, N'File-405febfc-711c-4d9a-8612-6d68c260103a/Pan Card.pdf')
INSERT [dbo].[DocumentUploadeds] ([Id], [BuyerId], [FileName]) VALUES (158, 12, N'File-aea136cd-c001-4ac3-8c3c-6064695b614a/Aadhar Card.pdf')
INSERT [dbo].[DocumentUploadeds] ([Id], [BuyerId], [FileName]) VALUES (159, 15, N'File-52d7d211-e52a-46ec-82b2-73972eef61c2/Pan Card.pdf')
SET IDENTITY_INSERT [dbo].[DocumentUploadeds] OFF
GO
SET IDENTITY_INSERT [dbo].[LeadNotes] ON 

INSERT [dbo].[LeadNotes] ([Id], [Subject], [Description], [CreatedOn], [UpdatedOn], [BuyerId]) VALUES (19, N'Meeting', N'Documents collected. Everything proper', CAST(N'2021-01-12T16:46:19.410' AS DateTime), CAST(N'2021-01-12T16:46:19.410' AS DateTime), 12)
INSERT [dbo].[LeadNotes] ([Id], [Subject], [Description], [CreatedOn], [UpdatedOn], [BuyerId]) VALUES (20, N'Status', N'disbursement is under process', CAST(N'2021-01-12T17:12:16.163' AS DateTime), CAST(N'2021-01-12T17:12:16.163' AS DateTime), 12)
INSERT [dbo].[LeadNotes] ([Id], [Subject], [Description], [CreatedOn], [UpdatedOn], [BuyerId]) VALUES (21, N'Meeting', N'Meeting complete', CAST(N'2021-01-17T14:06:55.560' AS DateTime), CAST(N'2021-01-17T14:06:55.560' AS DateTime), 15)
SET IDENTITY_INSERT [dbo].[LeadNotes] OFF
GO
SET IDENTITY_INSERT [dbo].[LeadStatus] ON 

INSERT [dbo].[LeadStatus] ([Id], [Status], [Description]) VALUES (1, N'New', N'New Lead')
INSERT [dbo].[LeadStatus] ([Id], [Status], [Description]) VALUES (2, N'Contacted', N'Contacted')
INSERT [dbo].[LeadStatus] ([Id], [Status], [Description]) VALUES (3, N'Working', N'Working')
SET IDENTITY_INSERT [dbo].[LeadStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ListerStatus] ON 

INSERT [dbo].[ListerStatus] ([Id], [Status], [Description]) VALUES (1, N'New', N'New')
INSERT [dbo].[ListerStatus] ([Id], [Status], [Description]) VALUES (2, N'Contacted', N'Contacted')
INSERT [dbo].[ListerStatus] ([Id], [Status], [Description]) VALUES (3, N'Working', N'Working')
SET IDENTITY_INSERT [dbo].[ListerStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Opportunities] ON 

INSERT [dbo].[Opportunities] ([Id], [BuyerId], [OpportunityName], [CreatedOn], [ModifiedOn], [OpportunityStatus]) VALUES (7, 12, N'Home Loan', CAST(N'2021-01-12T16:54:51.220' AS DateTime), NULL, 5)
INSERT [dbo].[Opportunities] ([Id], [BuyerId], [OpportunityName], [CreatedOn], [ModifiedOn], [OpportunityStatus]) VALUES (8, 12, N'Property loan', CAST(N'2021-01-13T13:53:37.320' AS DateTime), CAST(N'2021-01-13T13:53:37.320' AS DateTime), 5)
INSERT [dbo].[Opportunities] ([Id], [BuyerId], [OpportunityName], [CreatedOn], [ModifiedOn], [OpportunityStatus]) VALUES (9, 12, N'Education Loan', CAST(N'2021-01-13T13:55:32.183' AS DateTime), CAST(N'2021-01-13T13:55:32.183' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Opportunities] OFF
GO
SET IDENTITY_INSERT [dbo].[OpportunityStatus] ON 

INSERT [dbo].[OpportunityStatus] ([Id], [Status], [Description]) VALUES (1, N'CompleteApplication', N'Complete Application')
INSERT [dbo].[OpportunityStatus] ([Id], [Status], [Description]) VALUES (2, N'UploadDocuments', N'Upload Documents')
INSERT [dbo].[OpportunityStatus] ([Id], [Status], [Description]) VALUES (3, N'AutoLoginBank', N'Auto Login To Banks')
SET IDENTITY_INSERT [dbo].[OpportunityStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyListers] ON 

INSERT [dbo].[PropertyListers] ([ListerId], [Name], [Email], [MobileNo], [ListerStatus], [CreatedOn], [ModifiedOn], [IsConverted], [DoB], [FatherFirstName], [FatherLastName]) VALUES (2, N'Rohit Khandelwal', N'rohitk@gmail.com', N'8130946115', 1, CAST(N'2021-01-24T10:41:43.647' AS DateTime), NULL, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PropertyListers] OFF
GO
SET IDENTITY_INSERT [dbo].[RejectedLeads] ON 

INSERT [dbo].[RejectedLeads] ([Id], [BuyerId], [Reason], [RejectedOn], [ModifiedOn]) VALUES (1, 14, N'User cibil was not ok', CAST(N'2021-01-17T09:14:55.587' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RejectedLeads] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeadStatusId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeadStatusId] ON [dbo].[Buyer_Detail]
(
	[LeadStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ManagerAssigned]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ManagerAssigned] ON [dbo].[Buyer_Detail]
(
	[ManagerAssigned] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssistantManagerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssistantManagerId] ON [dbo].[BuyerRelations]
(
	[AssistantManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[BuyerRelations]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ManagerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ManagerId] ON [dbo].[BuyerRelations]
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MemberId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberId] ON [dbo].[BuyerRelations]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[CustomerContacts]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customer_CustomerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_CustomerId] ON [dbo].[CustomerContacts]
(
	[Customer_CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[Customers]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssignedAssistantManager]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedAssistantManager] ON [dbo].[DealerToLeadRelations]
(
	[AssignedAssistantManager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssignedManager]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedManager] ON [dbo].[DealerToLeadRelations]
(
	[AssignedManager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssignedTeamMember]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedTeamMember] ON [dbo].[DealerToLeadRelations]
(
	[AssignedTeamMember] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[DealerToLeadRelations]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DealerDetails_Id]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_DealerDetails_Id] ON [dbo].[DealerToLeadRelations]
(
	[DealerDetails_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[DealerToManagerRelations]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DealerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_DealerId] ON [dbo].[DealerToManagerRelations]
(
	[DealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ManagerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ManagerId] ON [dbo].[DealerToManagerRelations]
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[DocumentUploadeds]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[LeadNotes]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListerId] ON [dbo].[ListerDocumentsUploadeds]
(
	[ListerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListerId] ON [dbo].[ListerNotes]
(
	[ListerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[Opportunities]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OpportunityStatus]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_OpportunityStatus] ON [dbo].[Opportunities]
(
	[OpportunityStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListerStatus]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListerStatus] ON [dbo].[PropertyListers]
(
	[ListerStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuyerId]    Script Date: 1/27/2021 6:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_BuyerId] ON [dbo].[RejectedLeads]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buyer_Detail] ADD  DEFAULT ((0)) FOR [IsAlreadyCustomer]
GO
ALTER TABLE [dbo].[Buyer_Detail] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerContacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerContacts] ADD  DEFAULT ((0)) FOR [BuyerId]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Opportunities] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Buyer_Detail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Buyer_Detail_dbo.AspNetUsers_ManagerAssigned] FOREIGN KEY([ManagerAssigned])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Buyer_Detail] CHECK CONSTRAINT [FK_dbo.Buyer_Detail_dbo.AspNetUsers_ManagerAssigned]
GO
ALTER TABLE [dbo].[Buyer_Detail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Buyer_Detail_dbo.LeadStatus_LeadStatusId] FOREIGN KEY([LeadStatusId])
REFERENCES [dbo].[LeadStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Buyer_Detail] CHECK CONSTRAINT [FK_dbo.Buyer_Detail_dbo.LeadStatus_LeadStatusId]
GO
ALTER TABLE [dbo].[BuyerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyerRelations_dbo.AspNetUsers_AssistantManagerId] FOREIGN KEY([AssistantManagerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BuyerRelations] CHECK CONSTRAINT [FK_dbo.BuyerRelations_dbo.AspNetUsers_AssistantManagerId]
GO
ALTER TABLE [dbo].[BuyerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyerRelations_dbo.AspNetUsers_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BuyerRelations] CHECK CONSTRAINT [FK_dbo.BuyerRelations_dbo.AspNetUsers_ManagerId]
GO
ALTER TABLE [dbo].[BuyerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyerRelations_dbo.AspNetUsers_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BuyerRelations] CHECK CONSTRAINT [FK_dbo.BuyerRelations_dbo.AspNetUsers_MemberId]
GO
ALTER TABLE [dbo].[BuyerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyerRelations_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuyerRelations] CHECK CONSTRAINT [FK_dbo.BuyerRelations_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContacts_Customers] FOREIGN KEY([Customer_CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [FK_CustomerContacts_Customers]
GO
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerContacts_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [FK_dbo.CustomerContacts_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerContacts_dbo.Customers_Customer_CustomerId] FOREIGN KEY([Customer_CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [FK_dbo.CustomerContacts_dbo.Customers_Customer_CustomerId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[DealerToLeadRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_AssignedAssistantManager] FOREIGN KEY([AssignedAssistantManager])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DealerToLeadRelations] CHECK CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_AssignedAssistantManager]
GO
ALTER TABLE [dbo].[DealerToLeadRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_AssignedManager] FOREIGN KEY([AssignedManager])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DealerToLeadRelations] CHECK CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_AssignedManager]
GO
ALTER TABLE [dbo].[DealerToLeadRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_AssignedTeamMember] FOREIGN KEY([AssignedTeamMember])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DealerToLeadRelations] CHECK CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_AssignedTeamMember]
GO
ALTER TABLE [dbo].[DealerToLeadRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_DealerDetails_Id] FOREIGN KEY([DealerDetails_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DealerToLeadRelations] CHECK CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.AspNetUsers_DealerDetails_Id]
GO
ALTER TABLE [dbo].[DealerToLeadRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DealerToLeadRelations] CHECK CONSTRAINT [FK_dbo.DealerToLeadRelations_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[DealerToManagerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToManagerRelations_dbo.AspNetUsers_DealerId] FOREIGN KEY([DealerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DealerToManagerRelations] CHECK CONSTRAINT [FK_dbo.DealerToManagerRelations_dbo.AspNetUsers_DealerId]
GO
ALTER TABLE [dbo].[DealerToManagerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToManagerRelations_dbo.AspNetUsers_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DealerToManagerRelations] CHECK CONSTRAINT [FK_dbo.DealerToManagerRelations_dbo.AspNetUsers_ManagerId]
GO
ALTER TABLE [dbo].[DealerToManagerRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DealerToManagerRelations_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
GO
ALTER TABLE [dbo].[DealerToManagerRelations] CHECK CONSTRAINT [FK_dbo.DealerToManagerRelations_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[DocumentUploadeds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DocumentUploadeds_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentUploadeds] CHECK CONSTRAINT [FK_dbo.DocumentUploadeds_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[LeadNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LeadNotes_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadNotes] CHECK CONSTRAINT [FK_dbo.LeadNotes_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[ListerDocumentsUploadeds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListerDocumentsUploadeds_dbo.PropertyListers_ListerId] FOREIGN KEY([ListerId])
REFERENCES [dbo].[PropertyListers] ([ListerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListerDocumentsUploadeds] CHECK CONSTRAINT [FK_dbo.ListerDocumentsUploadeds_dbo.PropertyListers_ListerId]
GO
ALTER TABLE [dbo].[ListerNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListerNotes_dbo.PropertyListers_ListerId] FOREIGN KEY([ListerId])
REFERENCES [dbo].[PropertyListers] ([ListerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListerNotes] CHECK CONSTRAINT [FK_dbo.ListerNotes_dbo.PropertyListers_ListerId]
GO
ALTER TABLE [dbo].[Opportunities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Opportunities_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Opportunities] CHECK CONSTRAINT [FK_dbo.Opportunities_dbo.Buyer_Detail_BuyerId]
GO
ALTER TABLE [dbo].[Opportunities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Opportunities_dbo.OpportunityStatus_OppoStatus_Id] FOREIGN KEY([OpportunityStatus])
REFERENCES [dbo].[OpportunityStatus] ([Id])
GO
ALTER TABLE [dbo].[Opportunities] CHECK CONSTRAINT [FK_dbo.Opportunities_dbo.OpportunityStatus_OppoStatus_Id]
GO
ALTER TABLE [dbo].[PropertyListers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PropertyListers_dbo.ListerStatus_ListerStatus] FOREIGN KEY([ListerStatus])
REFERENCES [dbo].[ListerStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyListers] CHECK CONSTRAINT [FK_dbo.PropertyListers_dbo.ListerStatus_ListerStatus]
GO
ALTER TABLE [dbo].[RejectedLeads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RejectedLeads_dbo.Buyer_Detail_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyer_Detail] ([BuyerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RejectedLeads] CHECK CONSTRAINT [FK_dbo.RejectedLeads_dbo.Buyer_Detail_BuyerId]
GO
USE [master]
GO
