@model HousingProject.Models.NewBuyerViewModel

@using (Html.BeginForm("AddLeadByAdmin", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <label for="name">User Name</label>
         @Html.TextBoxFor(model => model.BuyerName, new { @class = "form-control", @required = "required", placeholder = "Enter user name" })
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", @required = "required", placeholder = "Enter emaill address" })
       
    </div>
    <div class="form-group">
        <label for="position">Phone</label>
        @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", type = "number", @required = "required", placeholder = "Enter phone number" })
    </div>


    <div class="text-right">
        <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Continue</button>
    </div>
}

