<!-- App css -->
<link href="~/UBold_v4.1.0/Admin/dist/assets/css/bootstrap-creative.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
<link href="~/UBold_v4.1.0/Admin/dist/assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

<link href="~/UBold_v4.1.0/Admin/dist/assets/css/bootstrap-creative-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
<link href="~/UBold_v4.1.0/Admin/dist/assets/css/app-creative-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

<!-- icons -->
<link href="~/UBold_v4.1.0/Admin/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />